apiVersion: v1
kind: Service
metadata:
  name: fastapi-app
  namespace: fastapi-app
  labels:
    app: fastapi-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: fastapi-app
